#!/usr/bin/env bash
export LC_INFRA_IP={{ LC_INFRA_IP }}
export LC_EIP=10.10.11.36
export LC_SUBDOMAIN={{ LC_SUBDOMAIN }}
export LC_MYSQL_SERVER={{ LC_MYSQL_SERVER }}
export LC_MYSQL_ROOT_PASSWORD={{ LC_MYSQL_ROOT_PASSWORD }}
export LC_DNS_RESOLVER={{ LC_DNS_RESOLVER }}
export LC_API_INFRA_EIP={{ LC_API_INFRA_EIP }}
export LC_GIT_EIP={{ LC_GIT_EIP }}
export LC_JWT={{ LC_JWT }}
export LC_GIT_TOKEN={{ LC_GIT_TOKEN }}
export LC_REGISTRY={{ LC_REGISTRY }}
export LC_LOCALHOST_IP=10.10.11.36
. "$(pwd)/install.sh"